{:users
 {:label           "Users"
  :list-fields     [:email :name :role :created-at]
  :search-fields   [:email :name]
  :hide-fields     #{:password-hash :deleted-at}
  :readonly-fields #{:id :created-at :updated-at}}}